<h1>{{vm.shoppingList.name}}</h1>
<div row ng-repeat="shoppingListEntry in vm.shoppingList.entries">
    <div column="12">
        <div class="sl--card">
            <a href="" class="alert-close" ng-click="vm.deleteEntry(shoppingListEntry)">&times;</a>
            <input type="checkbox"/>
            <h4>{{shoppingListEntry.title}}</h4>
            <p>{{shoppingListEntry.description}}</p>
        </div>
        </a>
    </div>
</div>
<div row>
    <div column="12">
        <form class="sl--form">
            <ul class="list--unstyled alert alert--error" role="alert" ng-if="vm.errors">
                <li ng-repeat="error in vm.errors">{{error.message}}</li>
            </ul>
            <input type="text" class="" ng-model="vm.newShoppingListEntry.title" placeholder="add new entry here"/>
            <textarea class="" ng-model="vm.newShoppingListEntry.description" placeholder="add description here"></textarea>
            <button class="button button--xsm" ng-click="vm.saveEntry()">Add</button>
        </form>
    </div>
</div>